In order to use the code in this folder, you will need the following software and hardware.


=================================

Software:

1. Arduino
https://www.arduino.cc/en/Main/Software

2. Pure Data (Pd)
http://msp.ucsd.edu/software.html

Optional: Max and supporting libraries, spat5 and ICST (this is only for demonstration in the RISD Spatial Audio Studio) 
https://cycling74.com/downloads

=================================


Hardware used in demonstration:

1. Teensy 3.2 (or Teensy LC)
https://www.pjrc.com/store/teensy32_pins.html

2. Teensy Prop Shield
https://www.pjrc.com/store/prop_shield.html

3. FSR with 10k resistor
https://www.adafruit.com/product/1075

4. Analog light sensor
https://www.adafruit.com/product/1384

5. Analog joystick   
https://www.adafruit.com/product/512

6. Full size breadboard and jumper wires